{% if include.string %}
  {% assign images = include.images | strip | split: "," %}
{% else %}
  {% assign images = include.images %}
{% endif %}

{% if include.cols %}
  {% assign cols = include.cols %}
{% else %}
  {% assign cols = 2 %}
{% endif %}

{% if include.max_rows %}
  {% assign max_images = cols | times: include.max_rows %}
  {% assign images = images | slice: 0,max_images %}
{% endif %}

{% if include.grayscale %}
  {% assign grayscale = 100 %}
{% else %}
  {% assign grayscale = 0 %}
{% endif %}


{% assign margin-top = include.margin-top | default: 0 %}
{% assign margin-bottom = include.margin-bottom | default: 0 %}

<style>
  .album {
    margin-top: {{margin-top}}px;
    margin-bottom: {{margin-bottom}}px;
  }
  .album{{grayscale}} img {
    object-fit: cover;
    min-height: 100%;
    -webkit-filter: grayscale({{grayscale}}%); /* Safari 6.0 - 9.0 */
    filter: grayscale({{grayscale}}%);
  }
  .unround {
     !important;
  }
  .unround-right {
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
  }
  .unround-left {
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
  }
</style>

<div class='pure-g album{{grayscale}}'>
{% for image in images %}

  <div class="pure-u-1-{{cols}} pure-img">
    {% if forloop.first == true %}
      <img style="border-radius:0px;border-top-left-radius:3px;border-bottom-left-radius:3px;" src="{{image}}" alt="dfmdimage" />
    {% elsif forloop.last == true %}
      <img style="border-radius:0px;border-top-right-radius:3px;border-bottom-right-radius:3px;" src="{{image}}" alt="dfmdimage" />
    {% else %}
      <img style="border-radius:0px" src="{{image}}" alt="dfmdimage" />
    {% endif %}
  </div>

{% endfor %}
</div>
