<style>
    .download-menu {width:80%}
    .download-menu a {margin-left: 20px;}
    .download-menu blockquote {
      color: #828282;
      font-family: 'Inconsolata', monospace;
      font-size: 14px;
      letter-spacing: normal;
      font-style: normal;
      margin-top: 10px;
      margin-bottom: 10px;
    }

</style>

{% capture downloadQuery %}{{ page.date | date: "%Y-%m-%d" }}-{{ page.title | slugify }}/{{ include.name }}{% endcapture %}
<div class='download-menu'>
  <blockquote>
  <b>Notes</b> {{ include.caption }}<br>
  {% for file in site.static_files %}
    {% if file.path contains downloadQuery %}
      {% assign filenameparts = file.path | split: "/" %}
      {% assign filename = filenameparts | last %}
        <a class="important-link" href="{{ site.url }}/assets/binder/{{ filePath }}" download>{{ filename }}</a><br>
    {% endif %}
  {% endfor %}
  </blockquote>
</div>
