<span id='dynamictocnative'></span>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
<script>
  function create_index() {
  	var ToC = '';
      var first = false;
      document.querySelectorAll('h2').forEach(function(el,index) {
          if (first === false) {
          	first = true;
              var newSpan = document.createElement('SPAN');
              newSpan.id='dynamictocnative';
              el.parentNode.insertBefore(newSpan, el);
          }
  		var title = el.textContent;
  		var link = "#" + el.id;
      if (['dfmdmx', 'About', 'Table of contents'].indexOf(title) >= 0)  {
          ToC += '<a href="' + link + '">' + title + '</a><br>';
        }
      });
      var tocDiv = document.getElementById('dynamictocnative');
      tocDiv.innerHTML = ToC;
    }
  $(document).ready(function(){
    create_index();
  });
</script>
