<style>
  .starred-projects a:link {
    color: #111;
  }
  .starred-projects a:visited {
    color: #111;
  }
  .starred-projects a:hover {
    color: #1756a9;
  }
</style>

<ul class="post-list">
  {%- for post in site.projects -%}
    {%- if post.starred == true -%}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
        {{ post.excerpt }}
      {%- endif -%}
    </li>
  {%- endif -%}
  {%- endfor -%}
</ul>
