<ul class="post-list">
  {%- for post in site.projects -%}

    {%- if include.starred -%}
      {%- assign filter = include.starred -%}
      <!-- max rows solo se puede cambiar aqui y en el archivo de home.html que enlista los posts -->
      {%- assign max_rows = 4 -%}
    {%- else -%}
      {%- assign filter = false -%}
      {%- assign max_rows = 2 -%}
    {%- endif -%}

    {%- if post.starred == filter -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}

        {% capture images %}
          {% if post.images %}
            {% for image in post.images %}
              {{ image }},
            {% endfor %}
          {% endif %}
          {% if post.albums %}
            {% assign albums = post.albums | where:"cover",true %}
            {% for album in albums %}
              {% for image in album.images %}
                {{ image }},
              {% endfor %}
            {% endfor %}
          {% endif %}

        {% endcapture %}
        {% assign images = images | strip | split: "," %}
        {% include album.html images=images cols=4 max_rows=max_rows %}

      </li>
    {%- endif -%}
  {%- endfor -%}
</ul>
