<ul class="post-list">
  {%- assign posts=site.projects | reverse -%}
  {%- for post in posts  -%}

    {%- if include.starred -%}
      {%- assign filter = include.starred -%}
      <!-- max rows solo se puede cambiar aqui y en el archivo de home.html que enlista los posts -->
      {%- assign max_rows = 4 -%}
    {%- else -%}
      {%- assign filter = false -%}
      {%- assign max_rows = 2 -%}
    {%- endif -%}

    {%- if post.starred == filter -%}
      <li style="page-break-inside:avoid;">

        {% include project.html project=post headerlink=include.headerlink  %}

        {% capture images %}
          {% if post.images %}
            {% for image in post.images %}
              {{ image }},
            {% endfor %}
          {% endif %}
          {% if post.albums %}
            {% assign albums = post.albums | where:"cover",true %}
            {% for album in albums %}
              {% for image in album.images %}
                {{ image }},
              {% endfor %}
            {% endfor %}
          {% endif %}

        {% endcapture %}
        {% assign images = images | strip | split: "," %}
        {% include album.html images=images cols=6 max_rows=max_rows %}

      </li>
    {%- endif -%}
  {%- endfor -%}
</ul>
