<style>
    .index-projects  {
      margin: auto;
      margin-top: 40px;
      margin-bottom: 40px;
    }
    .index-projects .repo {
      margin-top: 60px;
      margin-bottom: 60px;
    }
    .index-projects .menutitle {
      font-size: 28px;
      margin-bottom: 5px;

    }
    .index-projects .description {
      margin-bottom: 5px;
    }
    .index-projects a:visited {
      color: #111
    }
</style>

<div class='index-projects'>
    {% for project in site.projects %}
    <div class='repo'>
      <div class='menutitle'>{{ project.title }}</div>
      <div class='description'>
        {{ project.excerpt | markdownify }}
        <a class="pure-button" href="{{ project.url }}"><i class="fas fa-glasses"></i> More</a>
      </div>
    </div>
    {% endfor %}
</div>
<!-- <h2 class="post-list-heading">Projects</h2>
<ul class="post-list">
  {% for project in site.projects %}
  <li>
    <span class="post-meta">{{ project.date | date: "%b %-d, %Y" }}</span>
    <h3><a class="post-link" href="{{ project.url }}">{{ project.title }}</a></h3>
    <p>{{ project.excerpt | markdownify }}</p>
  </li>
  {% endfor %}
</ul> -->
