{% assign width = include.width | default: 100 %}
{% assign ids = include.id | remove: ' ' | split: ',' %}
<style>
  .video-container {
    position: relative;
    margin-top: 14px;
    margin-bottom: 14px;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    width: 100%;
  }
  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>

<div class='pure-g album'>
{% for id in ids %}
  <div class="pure-u-1-{{ids.size}}">
    <div class="video-container">
      <iframe src="https://www.youtube.com/embed/{{ id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
{% endfor %}
</div>
