<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-nav-heading">
    Daniel Fernández Marmissolle-Daguerre
    </div>

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-3">
        <p>{%- include pages/7c-solicitud.md -%}</p>
      </div>

      <div class="footer-col footer-col-2 footer-just" style="padding-left:8px">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-1">
        <div class="copyright">
          C© 2022 {{ site.title | escape }} - 09.09.2022
          <img src="http://hangar.dfmd.mx/assets/images/logo_hangarmx_black.svg" width="140px">
          <!-- This site is protected by reCAPTCHA and the Google
          <a href="https://policies.google.com/privacy">Privacy Policy</a> and
          <a href="https://policies.google.com/terms">Terms of Service</a> apply. -->
        </div>
      </div>

    </div>

  </div>
</footer>
