
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Montserrat&display=swap');
@import url("https://unpkg.com/purecss@1.0.1/build/pure-min.css");

.footer-col-3, .footer-col-1{
  font-size: 85%;
}
.page .post-content i{
  opacity: 50%;
}
.page .post-content p, h1, h2, h3, h4{
  text-align: justify;
}
.page .post-content h2{
  margin-top: 25px;
}
.page .post-content .post-list-link:hover{
  cursor:pointer;
}
.page .post-content .project-semblance .info-row{
  font-size: 90%;
  margin-bottom: 8px;
}
.page .post-content  h2{
  margin-top: 80px;
}
.page .post-content .project-semblance h3{
  margin-top: 80px;
  margin-bottom: 10px;
}
.post-content blockquote{
  margin-top: 20px;
  margin-bottom: 20px;
}
.post-content .image-container{
  font-size: 80%;
  text-align: right;
  margin-bottom: 20px;
}
.post-content .blank-space{
  margin-bottom: 0px;
}
.single-row-album{
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}
.single-row-album img{
  height: 180px;
  object-fit: cover;
  min-height: 100%;
}
/* Album */
.mx-album {
  overflow: hidden;
}
.mx-album img {
  object-fit: cover;
  min-height: 100%;
}
.mx-album .unround-right {
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
}
.mx-album .unround-left {
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
}
/* Video Album */
.mx-video-album .video-container {
  position: relative;
  margin-top: 14px;
  margin-bottom: 0px;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
  width: 100%;
}
.mx-video-album .left-image{
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}
.mx-video-album .right-image{
  border-top-right-radius:3px;
  border-bottom-right-radius:3px;
 }
.mx-video-album .video-container iframe,
.mx-video-album .video-container object,
.mx-video-album .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.project-info{
  margin-top: 20px;
  margin-bottom: 20px;
}
.project-info i{
  opacity: 50%;
}
/* // reCAPTCHA */
.grecaptcha-badge { visibility: hidden; }

/* Disqus chat */
#disqus_thread {
 filter: grayscale(1) opacity(1);;
 margin-top: 100px;
 margin-bottom: 20px;
}
