<div class="index-projects">
  {%- assign posts=site.projects | reverse -%}
  {%- for post in posts  -%}
    {%- if include.starred == post.starred -%}

        {% capture images %}
          {% if post.albums %}
            {% assign albums = post.albums | where:"cover",true %}
            {% for album in albums %}
              {% for image in album.images %}
                {{ image }},
              {% endfor %}
            {% endfor %}
          {% endif %}
        {% endcapture %}
        {% assign images = images | strip | split: "," %}

        <div class="pure-g" onclick='location.href="{{post.url | relative}}"'>
          <div class="pure-u-1 index-info">
            <h3>{{ post.title | escape }}</h3>
            <p class='post-meta'>
              {{ post.information-en.type }} | {{ post.information-en.client }} <br>
              <i class="far fa-calendar"></i> {{post.information-en.date}}
              <i class="fas fa-map-marker-alt"></i> {{post.information-en.location}}
              <i class="fas fa-link"></i> {{ post.information-en.client_url }}
            </p>
            <p> {{ post.information-en.description }} </p>
          </div>
          <div class="pure-u-1-6"><img class="pure-img" src="{{images[0]}}" alt="{{post.title}}"></div>
          <div class="pure-u-1-6"><img class="pure-img" src="{{images[1]}}" alt="{{post.title}}"></div>
          <div class="pure-u-1-6"><img class="pure-img" src="{{images[2]}}" alt="{{post.title}}"></div>
          <div class="pure-u-1-6"><img class="pure-img" src="{{images[3]}}" alt="{{post.title}}"></div>
          <div class="pure-u-1-6"><img class="pure-img" src="{{images[4]}}" alt="{{post.title}}"></div>
          <div class="pure-u-1-6"><img class="pure-img" src="{{images[5]}}" alt="{{post.title}}"></div>
        </div>

    {%- endif -%}
  {%- endfor -%}
</div>
