<a style="float:right" href="/">Back to the future</a>

<marquee scrollamount="2" direction="right">
  <pre class="premarquee">
                           ▄█▄▄▄█▄
                    ▄▀░░░░▄▌─▄─▄─▐▄░░  ▀▄
                    █▄▄█░░▀▌─▀─▀─▐▀░░█▄▄█
           ░░░░░░░░░░▐▌░░░░▀▀███▀▀░░░░▐▌
         ───────░░░░████░▄█████████▄░████
</pre>
</marquee>
<pre>
       _ ___         _
     _| |  _|_____ _| |  _____ _ _
    | . |  _|     | . |_|     |_'_|
    |___|_| |_|_|_|___|_|_|_|_|_,_|

</pre>
<p>
<strong>Index:</strong>
</p>
Projects:
<ul>
  {%- assign projects=site.projects | reverse -%}
  {%- for project in projects  -%}
      <li style="page-break-inside:avoid;">
        <a href="{{ project.url | relative_url }}">
          {{ project.title | escape }}
        </a>
      </li>
  {%- endfor -%}
</ul>
Blog:
<ul>
  {%- assign posts=site.posts | reverse -%}
  {%- for post in posts  -%}
      <li style="page-break-inside:avoid;">
        <a href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </li>
  {%- endfor -%}
</ul>

<img class="rotating-item" src="/assets/images/icon/inputblink.svg">

<script>
$( document ).ready(function() {
  var InfiniteRotator =
	{
		init: function()
		{
			var initialFadeIn = 1000;
			var itemInterval = 1500;
			var fadeTime = 500;
			var numberOfItems = $('.rotating-item').length;
			var currentItem = 0;
			$('.rotating-item').eq(currentItem).fadeIn(initialFadeIn);
			var infiniteLoop = setInterval(function(){
				$('.rotating-item').eq(currentItem).fadeOut(fadeTime);
				if(currentItem == numberOfItems -1){
					currentItem = 0;
				}else{
					currentItem++;
				}
				$('.rotating-item').eq(currentItem).fadeIn(fadeTime);
			}, itemInterval);
		}
	};
	InfiniteRotator.init();
});
</script>
