<marquee scrollamount="2" direction="right">
  <pre class="premarquee">
                           ▄█▄▄▄█▄
                    ▄▀░░░░▄▌─▄─▄─▐▄░░  ▀▄
                    █▄▄█░░▀▌─▀─▀─▐▀░░█▄▄█
           ░░░░░░░░░░▐▌░░░░▀▀███▀▀░░░░▐▌
         ───────░░░░████░▄█████████▄░████
</pre>
</marquee>
<p>
Projects:
<ul>
  {%- assign projects=site.projects | reverse -%}
  {%- for project in projects  -%}
      <li style="page-break-inside:avoid;">
        <a href="{{ project.url | relative_url }}">
          {{ project.title | escape }} {% if project.starred %} <small><i class="far fa-star"></i></small>{%- endif -%}
        </a>
      </li>
  {%- endfor -%}
</ul>
</p>
<p>
Blog:
<ul>
  {%- assign posts=site.posts -%}
  {%- for post in posts  -%}
      <li style="page-break-inside:avoid;">
        <a href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </li>
  {%- endfor -%}
</ul>
</p>
<img class="rotating-item" src="/assets/images/icon/inputblink.svg">

<script>
$( document ).ready(function() {
  var InfiniteRotator =
	{
		init: function()
		{
			var initialFadeIn = 1000;
			var itemInterval = 1500;
			var fadeTime = 500;
			var numberOfItems = $('.rotating-item').length;
			var currentItem = 0;
			$('.rotating-item').eq(currentItem).fadeIn(initialFadeIn);
			var infiniteLoop = setInterval(function(){
				$('.rotating-item').eq(currentItem).fadeOut(fadeTime);
				if(currentItem == numberOfItems -1){
					currentItem = 0;
				}else{
					currentItem++;
				}
				$('.rotating-item').eq(currentItem).fadeIn(fadeTime);
			}, itemInterval);
		}
	};
	InfiniteRotator.init();
});
</script>
