{% if include.lang %}
  {% assign lang=include.lang %}
{% else %}
  {% assign lang='en' %}
{% endif %}

{% if include.project %}
  {% assign project=include.project %}

  {% assign url=false %}
  {% assign margin=0 %}
  {% if lang == 'es' %}
    {% assign data=project.information-es %}
  {% else %}
    {% assign data=project.information-en %}
  {% endif %}
  {% assign title=data.title %}
  {% assign headerlink=include.headerlink %}
{% else %}
  {% for project in site.projects %}
    {% if project.path contains include.title %}
      {% assign url=site.url | append: project.url %}
      {% if lang == 'es' %}
        {% assign data=project.information-es %}
      {% else %}
        {% assign data=project.information-en %}
      {% endif %}
      {% assign title=data.title %}
      {% assign headerlink=include.headerlink %}
      {% assign margin=2 %}
    {% endif %}
  {% endfor %}
{% endif %}
  <div style='margin-left:{{margin}}em;margin-bottom:.5em;margin-top:1em;page-break-inside:avoid;'>
      <span style="font-size:16px">{{ title | escape }}</span>
      <br>
      <b>{{data.type}}</b> | {{data.client}}
      <br>
      <i class="far fa-calendar"></i> {{data.date}} <i class="fas fa-map-marker-alt"></i> {{data.location}} <i class="fas fa-link"></i> <a href='{{ data.client_url}}' target="blank">{{ data.client_url }}</a>
      <br>
      <div style="">
        {{data.description}}
        {% if url %}<a href='{{url}}' target='blank'><i class="fas fa-external-link-square-alt"></i></a>{% endif %}
      </div>
  </div>
