---
# Only the main Sass file needs front matter (the dashes are enough)
---
$base-font-family: 'Montserrat', sans-serif;
$base-font-size:   12px !default;
$background-color: #fff !default;
$brand-color:      #2a7ae2 !default;

@import "minima";
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Montserrat&display=swap');
@import url("https://unpkg.com/purecss@1.0.1/build/pure-min.css");
@import url("https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css");


h1, h2, h3, h4 {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

li > ul {
  padding-bottom: 1em;
}

.page-content p {
  text-align: justify;
  text-justify: inter-word;
  page-break-inside: avoid;
}

.page-content i {
  opacity: 0.3;
}

.page-content img {
  border-radius: 3px;
}

.page-content h2 {
  margin-top: 99px;
}

.page-content .home .post-list {
  margin-top: 99px;
}

.page-content hr {
  border: 0;
  border-top: 1px solid #eee;
  margin-bottom: 5px;
}

.page-content a:hover {
  text-decoration: none;
}

.gallery-content {
  margin-top: 99px;
}

.footer-col-wrapper {
  font-size: 12px;
  font-family:  -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}


#disqus_thread {
  filter: grayscale(1) opacity(1);;
  margin-top: 100px;
  margin-bottom: 20px;
}
