---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background: #fff;
  fill: #fff;
}

h1, h2, h3, h4 {
  font-family: 'Inconsolata', monospace;
}

blockquote {
  color: #828282;
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  letter-spacing: normal;
  font-style: normal;
  margin-top: 30px;
  margin-bottom: 30px;
}

.important-link {
  font-size: 18px;
  font-family: 'Inconsolata', monospace;
}

.footer-col-wrapper {
  font-family: 'Inconsolata', monospace;
}

#disqus_thread {
  filter: grayscale(1) opacity(.66);
  margin-top: 100px;
  margin-bottom: 20px;
}

#disqus_thread:hover {
  filter: grayscale(1) opacity(1);
}
