---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}

        {% capture images %}

            {% if post.images %}
              {% for image in post.images %}
                {{ image }},
              {% endfor %}
            {% endif %}
            {% if post.albums %}
              {% assign albums = post.albums | where:"cover",true %}
              {% for album in albums %}
                {% for image in album.images %}
                  {{ image }},
                {% endfor %}
              {% endfor %}
            {% endif %}

        {% endcapture %}
        {% assign images = images | strip | split: "," %}
        {% include images.html images=images cols=8 max_rows=1 grayscale=true %}

      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
