---
layout: default
---
<article class="home">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content page-content">
    {{ content }}

    {% if site.paginate %}
      {% assign posts = paginator.posts %}
    {% else %}
      {% assign posts = site.posts %}
    {% endif %}

    {%- if posts.size > 0 -%}
      {%- if page.list_title -%}
        <h2 class="post-list-heading">{{ page.list_title }}</h2>
      {%- endif -%}
      <ul class="post-list">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {%- for post in posts -%}
        <li>
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}

          {% capture all_images %}
            {% if post.albums %}
              {% assign albums = post.albums | where:"cover",true %}
              {% for album in albums %}
                {% for image in album.images %}
                  {{ image }},
                {% endfor %}
              {% endfor %}
            {% endif %}
          {% endcapture %}
          {% assign all_images = all_images | strip | split: "," %}
          {% capture images %}
          {% for image in all_images | split: ',' %}
            {% if forloop.index <= 4 %}
              {{image}},
            {% endif %}
          {% endfor %}
          {% endcapture %}
          {% assign cols = 4 %}
          {% assign max_images = cols %}
          {% assign images = images | strip | split: "," %}
          {% include single-row-album.html images=images %}

        </li>
        {%- endfor -%}
      </ul>

      {% if site.paginate %}
        <div class="pager">
          <ul class="pagination">
          {%- if paginator.previous_page %}
            <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
          {%- else %}
            <li><div class="pager-edge">•</div></li>
          {%- endif %}
            <li><div class="current-page">{{ paginator.page }}</div></li>
          {%- if paginator.next_page %}
            <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
          {%- else %}
            <li><div class="pager-edge">•</div></li>
          {%- endif %}
          </ul>
        </div>
      {%- endif %}

    {%- endif -%}

  </div>

</article>
